/* pages/my/invitation/edit-data.wxss */
page {
    background-color: black;
}

.main-content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 41px;
    z-index: 0;
    background-color: black;
}

.bottom-bar {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;

    display: flex;
    justify-content: flex-end;
}

.canvas-widget {
    position: absolute;
    right: 100vw;
    height: 0;
    /* z-index: 1; */
}

.image-mask {
    position: relative;
    /* width: originData.width;
  height: originData.height, */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    pointer-events: none;
}
