/* pages/my/invitation/component/qk-image.wxss */

/* .change-button {
  position: absolute;
  top: 35%;
  left: 40%;
  z-index: 1000;
} */

.button-view {
    display: flex !important;
    /* vertical-align: middle; */
    text-align: center !important;
    /* justify-items: center; */
    align-items: center !important;
}
.image-button {
    /* position: absolute; */
    /* top: 35%;
  left: 45%; */
    z-index: 1000;
    /* height: 80rpx;
  width: 80rpx; */
    padding: 0;
    display: inline;
    line-height: 0;
    /* opacity: 0; */
}

.image-button image {
    /* height: 100rpx;
  width: 100rpx; */
    vertical-align: middle;
}
